.headerimg {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 300px;
  }

  .headerimg img {
    width: 100%;
    height: 1080px;
    margin: -30% 0 0 0;
  }

  .myname {
    position: absolute;
    color: white;
    top: 70%;
    left: 2%;
    font-size: 80px;
    font-family: "Heebo";
  }

.navigation{
  position: relative;
  margin-left: 3%;
}

  .btn {
    float: left;
    width: 200px;
    height: 50px;
    text-align: center;
    border: none;
    background-color: rgb(255, 94, 0);
    color: white;
    box-shadow: inset 0 0 0 0 #ffffff;
    transition: ease-out 0.3s;
    outline: none;
    font-family: "Heebo";
    font-size: 20px;
    font-weight: 500;
  }

  .btn:hover {
    box-shadow: inset 200px 0 0 0 #ffffff;
    cursor: pointer;
    color: rgb(255, 94, 0);
    font-weight: 500;
  }

  .github {
    float: inline-end;
    height: 30px;
    margin-left: 37%;
    margin-top: 8px;
    margin-bottom: 8px;
  }

.contentleft {
  position: absolute;
  margin-bottom: 300px;
  margin-left: 2%;
  background-color: rgb(255, 107, 21);
  width: 60%;
  height: 700px;
}

  .title {
    font-family: "Heebo";
    font-size: 60px;
    line-height: 0px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .subheader{
    margin-left: 2%;
    font-family: "Heebo";
    line-height: 30px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: left;
  }

  .text{
    margin-left: 4%;
    font-family: "Heebo";
    line-height: 5px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: left;
  }
  
.contentright {
  position: absolute;
  margin-bottom: 300px;
  margin-left: 64%;
  background-color: rgb(255, 107, 21);
  width: 34%;
  height: 700px;
}